body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  /* background-color: #0b2a37; */
  background-color: hsl(201, 30%, 26%);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  color: white;
  font-size: 2rem;
  margin: 0.75rem;
  font-weight: normal;
}

.loginPage {
  border-top-left-radius: 5%;
  border-top-right-radius: 5%;
  background: #00141f;
  opacity: 0.7;
  padding: 0 2rem 2rem;
  border: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 20vw;
  box-shadow: 5px 10px 5px gold;
}

form {
  display: flex;
  flex-direction: column;
}

input {
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  outline: none;
  border-radius: 0.25em;
  color: white;
}

input,
button {
  font-size: 1rem;
  padding: 0.5rem;
  margin: 1rem;
}

input:focus {
  border-bottom: 3px solid #555;
}

button {
  margin-top: 20px;
  border: none;
  border-radius: 2%;
  background-color: blueviolet;
  color: white;
}

.center {
  text-align: center;
}

input:checked {
  border: none;
  border-bottom: 2px solid #000000;
}

@media only screen and (min-width: 1000px) {
  .loginPage {
    width: 10vw;
    height: 60vh;
  }
  h1 {
    font-size: 2rem;
  }
  input,
  button {
    margin: 0.75rem;
    font-size: 1rem;
  }
  .footer {
    margin: 0.5rem;
    font-size: 1rem;
  }
  .adjust {
    text-align: center;
  }
}

::placeholder {
  color: white;
  font-weight: normal;
}

p {
  color: whitesmoke;
}
