<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/dashboard_styles.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="border">
      <nav>
        <ul>
          <li><a href="/dashboard">User Info</a></li>
          <li><a href="/hobbies">Hobbies</a></li>
          <li><a href="/goals">Goals</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </nav>
      <div class="table">
        <h1>User Details</h1>
        <div class="container">
          <div class="item">Name</div>
          <div class="item">Email</div>
          <div class="item">Hobbies</div>
          <div class="item">Goals</div>
          <div class="item">Dhanush</div>
          <div class="item">iraladhanush@gmail.com</div>
          <div class="item">Playing cricket, badminton, reading novels</div>
          <div class="item">Be a better programmer</div>
        </div>
      </div>
    </div>
  </body>
</html>
<!-- <div class="container">
  <div class="item">Name</div>
  <div class="item">Email</div>
  <div class="item">Hobbies</div>
  <div class="item">Goals</div>
  <div class="item">Dhanush</div>
  <div class="item">iraladhanush@gmail.com</div>
  <div class="item">Playing cricket, badminton, reading novels</div>
  <div class="item">Be a better programmer</div>
</div> -->
