<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/goals.css" />
    <title>Goals</title>
  </head>
  <body>
    <div class="border">
      <nav>
        <ul>
          <li><a href="/dashboard">User Info</a></li>
          <li><a href="/hobbies">Hobbies</a></li>
          <li class="third"><a href="/goals">Goals</a></li>
          <li><a href="/">Logout</a></li>
        </ul>
      </nav>
      <div class="main">
        <h1>Goals</h1>
        <p>Be a better programmer</p>
      </div>
    </div>
  </body>
</html>
