<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/goals.css" />
    <title>Hobbies</title>
  </head>
  <body>
    <div class="border">
      <nav>
        <ul>
          <li><a href="/dashboard">User Info</a></li>
          <li style="background-color: green">
            <a href="/hobbies">Hobbies</a>
          </li>
          <li style="background-color: hsl(276, 74%, 70%)">
            <a href="/goals">Goals</a>
          </li>
          <li><a href="/">Logout</a></li>
        </ul>
      </nav>
      <div class="main">
        <h1>Hobbies</h1>
        <p>Playing cricket, Badminton and reading novels</p>
      </div>
    </div>
  </body>
</html>
