<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/javascript/validation.js" defer></script>
    <title>Signup Page</title>
  </head>
  <body>
    <div class="container">
      <div class="loginPage">
        <h1 class="center">Signup</h1>
        <form action="/dashboard" method="get" name="form1" id="form1">
          <input type="text" name="name" id="name" placeholder="Name" />
          <input type="email" name="email" id="email" placeholder="Email" />
          <input
            type="password"
            name="password"
            id="password"
            placeholder="Password"
          />
          <button type="submit">Signup</button>
        </form>
      </div>
    </div>
  </body>
</html>
