* {
  color: white;
  font-weight: normal;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  margin: 0;
  background-color: #0b2a37;
}

.border {
  background-color: hsl(201, 30%, 26%);
  /* background: #00141f; */
  opacity: 0.7;
  display: flex;
  justify-content: start;
  width: 90vw;
  height: 90vh;
  margin: 3rem 3rem 0 3rem;
  border: 2px solid black;
}

nav {
  background-color: hsl(276, 74%, 70%);
  height: 90vh;
  width: 18vw;
  border: 1px solid wheat;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  padding: 0;
  margin: 0;
  text-align: center;
  list-style: none;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 3.5rem;
  margin-bottom: 0.25rem;
  border: 1px solid green;
}

li:first-of-type {
  background-color: green;
}

.table {
  width: 55vw;
  overflow-x: auto;
  margin: 3rem 0 0 4rem;
  height: 83vh;
  border: 1px solid whitesmoke;
}

h1 {
  margin: 0;
  margin-left: 1rem;
}

.container {
  margin: 1rem;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr 1fr;
}

.item {
  border: 1px solid white;
  text-align: center;
}
